.guides {
  background-color: white;
  color: #222;

  @media(min-width: 720px) {
    .sidebar {
      position: absolute;
      margin-right: 5%;
      width: 240px;
    }

    article {
      margin-left: 280px;
      margin-right: 1.4em;
    }
  }

  @media(max-width: 720px) {
    .sidebar {
      margin-top: 1.4em;
    }

    article {
      margin: auto 1.4em;
    }
  }

  .sidebar {
    font-family: "futura-pt", "Futura";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding: 0 1em;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      ul {
        padding: 0.6em;
      }
    }

    li {
      padding: 1em;

      li {
        font-size: 0.6em;
      }
    }

    li.current {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding-bottom: 0;

      li a {
        color: #999;

      }
    }

  }

  .flag {
    &:before {
      padding-right: 0.2em;
    }

    &.flag-de:before {
      content: "🇩🇪";
    }

    &.flag-fr:before {
      content: "🇫🇷";
    }

    &.flag-es:before {
      content: "🇪🇸";
    }

    &.flag-it:before {
      content: "🇮🇹";
    }

    &.flag-nl:before {
      content: "🇳🇱";
    }

    &.flag-dk:before {
      content: "🇩🇰";
    }

    &.flag-pt:before {
      content: "🇵🇹";
    }

    &.flag-fi:before {
      content: "🇫🇮";
    }

    &.flag-ro:before {
      content: "🇷🇴";
    }

    &.flag-hu:before {
      content: "🇭🇺";
    }

    &.flag-ru:before {
      content: "🇷🇺";
    }

    &.flag-no:before {
      content: "🇳🇴";
    }

    &.flag-se:before {
      content: "🇸🇪";
    }

    &.flag-tr:before {
      content: "🇹🇷";
    }

    &.flag-jp:before {
      content: "🇯🇵";
    }

    &.flag-th:before {
      content: "🇹🇭";
    }

    &.flag-iq:before {
      content: "🇮🇶";
    }

    &.flag-cn:before {
      content: "🇨🇳";
    }

    &.flag-vi:before {
      content: "🇻🇳";
    }

    &.flag-in:before {
      content: "🇮🇳";
    }

    &.flag-kr:before {
      content: "🇰🇷";
    }

    &.flag-am:before {
      content: "🇦🇲";
    }
  }
}
