<nav>
  <div class="content">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Docs</a></li>
      <li><a href="#">Guides</a></li>
      <li><a href="#">Demo</a></li>
      <li><a href="#">Source</a></li>
  </div>
</nav>
