<nav>
  <div class="content">
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><a href="#">Docs</a></li>
      <li><%= link_to "Guides", "/guides/getting_started.html" %></li>
      <li><%= link_to "Demo", "https://olivernn.github.io/moonwalkers" %></li>
      <li><%= link_to "Source", "https://github.com/olivernn/lunr.js" %></li>
  </div>
</nav>
