---
title: Welcome to Lunr
---

<div class="home">
  <div class="content">
    <div class="hero">
      <header>
        <h1>Lunr</h1>
      </header>
    </div>

    <div class="button">
      <a href="#">Get Started</a>
    </div>

    <article>
      <section>
        <header>
          <h2>Lorem</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu sollicitudin metus. Aliquam facilisis finibus leo, at lobortis metus pharetra sed.</p>
      </section>
      <section>
        <header>
          <h2>Ipsum</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu sollicitudin metus. Aliquam facilisis finibus leo, at lobortis metus pharetra sed.</p>
      </section>
      <section>
        <header>
          <h2>Doler</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu sollicitudin metus. Aliquam facilisis finibus leo, at lobortis metus pharetra sed.</p>
      </section>
    </article>
  </div>
</div>
