---
title: Welcome to Lunr
---

<div class="home">
  <div class="content">
    <div class="hero">
      <header>
        <h1>Lunr</h1>
        <h2>Search made simple</h2>
      </header>
    </div>


    <div class="button">
      <%= link_to "Get Started", "/guides/getting_started.html" %>
    </div>

    <article>
      <section>
        <header>
          <h2>Simple</h2>
        </header>
        <p>Designed to be small, yet full featured, Lunr enables you to provide a great search expirience without the need for external, server side, search services.</p>
      </section>
      <section>
        <header>
          <h2>Extensible</h2>
        </header>
        <p>Add powerful language processors to give more accorate results to user queries, or tweak the built in processors to better fit your content.</p>
      </section>
      <section>
        <header>
          <h2>Everywhere</h2>
        </header>
        <p>Lunr has no external dependencies and works in your browser or on the server with node.</p>
      </section>
    </article>
  </div>
</div>
